@font-face {
	font-family: "intro-regular";
	src: url("fonts/intro-regular.woff"),
    url("fonts/intro-regular.ttf");
}
@font-face {
	font-family: "open_sans_bold";
	src: url("fonts/open_sans_bold.woff"),
    url("fonts/open_sans_bold.ttf");
}
@font-face {
	font-family: "open_sans_light";
	src: url("fonts/open_sans_light.woff"),
    url("fonts/open_sans_light.ttf");
}
@font-face {
	font-family: "open_sans_regular";
	src: url("fonts/open_sans.woff"),
    url("fonts/open_sans.ttf");
}
@font-face {
	font-family: "roboto_light";
	src: url("fonts/roboto_light.woff"),
    url("fonts/roboto_light.ttf");
}
@font-face {
	font-family: "open_sans_semibold";
	src: url("fonts/open_sans_semibold.woff"),
    url("fonts/open_sans_semibold.ttf");
}
@font-face {
	font-family: "roboto_regular";
	src: url("fonts/roboto_regular.woff"),
    url("fonts/roboto_regular.ttf");
}